body {
	width:auto;
}
div.ivan{
	text-align: center;
	width: 33%;
	float: left;
}
div.tempy{
	text-align: center;
	width: 100%;
	float:none;
}
span.ivan{
	text-align: center;
	width: 50%;
	float: left;
}
span.rocket{
	text-align: center;
	width: 25%;
	float: left;
}

span.rio{	width: 100%;	text-align: center;	clear: both;}
div.rio{
	width: 100%;
	text-align: center;
	clear: both;
}